shamefully-hoist=true
node-linker=hoisted
only-built-dependencies[]=@serialport/bindings-cpp
only-built-dependencies[]=electron
only-built-dependencies[]=electron-winstaller
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
